<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Marquez Landscaping</title>
   {{!--NORMALIZE--}}
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Sniglet" rel="stylesheet">

  {{!-- BOOTSTRAP 4 --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {{!-- FONT AWESOME 5 --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
 
  {{!-- ESTILOS--}}
  <link rel="stylesheet" type="text/css" href="/css/styles1.css">

  <link rel="stylesheet" type="text/css" href="/css/carga.css">



  <link rel="stylesheet" type="text/css" href="/css/styles.css">


  <link rel="shortcut icon" href="img/icon.ico">
  
<style>
	body{
	width:100%;
	height:100%;
	
}

#contact{
	background-color: #f1f1f1;;
	color:#f4f4f4;
	padding-bottom:80px;
}

textarea.formulario-control{
    height:100px;
}
</style>

</head>

<body>

    {{!Funciones que se llaman con handlebars}}
 
  {{>navigation}}  
  {{>message}}
  {{{body}}}

  {{>footer}}
  
  {{!-- SCRIPTS --}}
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!--SCRIPTS-->

	<!-- <script src="js/slide.js"></script> -->
	<script src="/js/bienvenido.js"></script>
	<script src="js/hora.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!--Cuando no ha cargado la página.-->
	<script>
		window.onload = function(){
			var contenedor = document.getElementById('contenedor_carga');
			contenedor.style.visibility = 'hidden';
			contenedor.style.opacity = '0';
		}


		///Función del botón top
		$(document).ready(function(){
		 
			$('.ir-arriba').click(function(){
				$('body, html').animate({
					scrollTop: '0px'
				}, 400);
			});
		 
			$(window).scroll(function(){
				if( $(this).scrollTop() > 0 ){
					$('.ir-arriba').slideDown(400);
				} else {
					$('.ir-arriba').slideUp(400);
				}
			});
		 
		});
		///Fin función botón top.

	</script>

</body>
</html>